@model UserModel


@{
    ViewData["Title"] = "Home Page";
}
    <div class="text-center">
    <h1 class="display-4">Welcome<br />@Model.FullName</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@section scripts{
    <script type="text/javascript">  
    $(function () {  
        var name = 'Welcome ' + ' <%=Session["UserName"] %>'  
        $('#lblusr').text(name)  
    });  
</script>
}


